<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.polytech.ihm.td4menu.ratatouille">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ratatouille">
        <activity
            android:name=".HomeWithGeneration"
            android:exported="false" />
        <activity
            android:name=".HomeWithoutGeneration"
            android:exported="false" />
        <activity
            android:name=".Recipe"
            android:exported="false" />
        <activity
            android:name=".MenuRemoved"
            android:exported="false" />
        <activity
            android:name=".CreationTime"
            android:exported="false" />
        <activity
            android:name=".AddIngredient"
            android:exported="false" />
        <activity
            android:name=".AddCategory"
            android:exported="false" />
        <activity
            android:name=".TakePicture"
            android:exported="false" />
        <activity
            android:name=".EditingCustomRecipe"
            android:exported="false" />
        <activity
            android:name=".MenuGenerator"
            android:exported="false" />
        <activity
            android:name=".DayConfiguration"
            android:exported="false" />
        <activity
            android:name=".RecipeSearch"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".SelectMenu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>