<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.polytech.ihm.td4menu.ratatouille">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".repository.NotificationRepository"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ratatouille">
        <activity
            android:name=".start.MenuGenerationActivity"
            android:exported="false" />
        <activity
            android:name=".SearchRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".datas.recipe.create.RecipeCreationActivity"
            android:exported="false" />
        <activity
            android:name=".start.Intro"
            android:exported="false" />
        <activity
            android:name=".datas.recipe.create.MenuOfRecipeCreation"
            android:exported="false" />
        <activity
            android:name=".datas.recipe.create.custom.CreateCustomRecipe"
            android:exported="false" />
        <activity
            android:name=".setOfRecipe.RecipeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".setOfRecipe.ListRecipeActivity"
            android:exported="false" />

        <service
            android:name=".notification.CookNotification"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".CreationTimeActivity"
            android:exported="false" />
        <activity
            android:name=".EditingCustomRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".MenuGeneratorActivity"
            android:exported="false" />
        <activity
            android:name=".DayConfigurationActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".SelectMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CreateARecipe"
            android:exported="false" />
        <activity
            android:name=".start.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>